/* You can add global styles to this file, and also import other style files */

button.mat-mdc-button.save-button,
button.mat-mdc-raised-button.save-button,
button.mat-mdc-unelevated-button.save-button {
  background: linear-gradient(135deg, #3d5a80 0%, #3d5a80 100%) !important;
  color: white !important;
  padding: 0 24px !important;
}

button.mat-mdc-button.cancel-button,
button.mat-mdc-raised-button.cancel-button,
button.mat-mdc-unelevated-button.cancel-button {
  background: linear-gradient(135deg, #e81010 0%, #ac0505 100%) !important;
  color: white !important;
  padding: 0 24px !important;
}

button.save-button:disabled {
  background: #ccc !important;
  color: #666 !important;
}

button.save-button:hover:not(:disabled){ 
  filter: brightness(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  transition: all 0.25s ease;
}


html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Fuerza a SweetAlert2 a estar siempre por encima de Angular Material (z-index: 1000) */
.swal2-on-top {
  z-index: 10000 !important;
}

/* Opcional: Si quieres asegurarte que incluso el fondo oscuro de swal cubra el modal */
.swal2-container {
  z-index: 10000 !important;
}
