<div class="reset-password-container">
  <div class="reset-card">
    <div class="reset-header">
      
       <h3><strong>INVSALUD</strong></h3>
      <h2>Actualizar Contraseña</h2>
    </div>

    <form [formGroup]="passwordForm" class="reset-form">
      <div class="col-md-12 mb-3 d-flex flex-column align-items-center mt-3">
        <mat-form-field appearance="outline" class="col-10 mb-1">
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput [type]="hideNew() ? 'password' : 'text'" formControlName="newPassword">
          <button mat-icon-button matSuffix (click)="hideNew.set(!hideNew())" type="button">
            <mat-icon>{{hideNew() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (passwordForm.get('newPassword')?.hasError('minlength')) {
          <mat-error>Mínimo 8 caracteres</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-10 mb-1">
          <mat-label>Confirmar Contraseña</mat-label>
          <input matInput [type]="hideConfirm() ? 'password' : 'text'" formControlName="confirmPassword">
          <button mat-icon-button matSuffix (click)="hideConfirm.set(!hideConfirm())" type="button">
            <mat-icon>{{hideConfirm() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched) {
          <mat-error>Las contraseñas no coinciden</mat-error>
          }
        </mat-form-field>
      </div>

      @if (passwordForm.get('confirmPassword')?.value != passwordForm.get('newPassword')?.value &&
      passwordForm.get('confirmPassword')?.touched) {
      <div class="alert alert-danger d-flex align-items-center gap-1 py-1" style="font-size: 0.705rem;">
        <mat-icon style="font-size: 1.1rem; width: 20px; height: 20px;">info</mat-icon>
        <span>Las contraseñas no coinciden.</span>
      </div>
      }

      <div class="form-actions">
        <button mat-button class="col-6 save-button" (click)="onSave()" [disabled]="passwordForm.invalid">
          Cambiar Contraseña
        </button>
      </div>
    </form>
  </div>
</div>
