<h2 mat-dialog-title class="d-flex align-items-center gap-2 border-bottom pb-3">
  <mat-icon color="primary">lock_reset</mat-icon>
  <span>Actualizar Contraseña</span>
</h2>

<mat-dialog-content class="pt-4">
  <form [formGroup]="passwordForm" class="container-fluid">
    <div class="row">
      
      <div class="col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Contraseña Actual</mat-label>
          <input matInput [type]="hideOld() ? 'password' : 'text'" formControlName="oldPassword">
          <button mat-icon-button matSuffix (click)="hideOld.set(!hideOld())" type="button">
            <mat-icon>{{hideOld() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (passwordForm.get('oldPassword')?.hasError('minlength')) {
            <mat-error>Mínimo 8 caracteres</mat-error>
          }
        </mat-form-field>
      </div>

      <mat-divider class="mb-4 mt-2"></mat-divider>

      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput [type]="hideNew() ? 'password' : 'text'" formControlName="newPassword">
          <button mat-icon-button matSuffix (click)="hideNew.set(!hideNew())" type="button">
            <mat-icon>{{hideNew() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (passwordForm.get('newPassword')?.hasError('minlength')) {
            <mat-error>Mínimo 8 caracteres</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="col-md-6 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Confirmar Contraseña</mat-label>
          <input matInput [type]="hideConfirm() ? 'password' : 'text'" formControlName="confirmPassword">
          <button mat-icon-button matSuffix (click)="hideConfirm.set(!hideConfirm())" type="button">
            <mat-icon>{{hideConfirm() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched) {
            <mat-error>Las contraseñas no coinciden</mat-error>
          }
        </mat-form-field>
      </div>

    </div>
    @if (passwordForm.get('confirmPassword')?.value != passwordForm.get('newPassword')?.value && passwordForm.get('confirmPassword')?.touched) {
        <div class="alert alert-danger d-flex align-items-center gap-1 py-1" style="font-size: 0.705rem;">
          <mat-icon style="font-size: 1.1rem; width: 20px; height: 20px;">info</mat-icon>
          <span>Las contraseñas no coinciden.</span>
        </div>
    }

    @if (passwordForm.get('oldPassword')?.value == passwordForm.get('newPassword')?.value && passwordForm.get('oldPassword')?.touched && passwordForm.get('newPassword')?.touched) {
        <div class="alert alert-danger d-flex align-items-center gap-1 py-1" style="font-size: 0.705rem;">
          <mat-icon style="font-size: 1.1rem; width: 20px; height: 20px;">info</mat-icon>
          <span>La nueva contraseña debe ser diferente a la actual.</span>
        </div>
    } 
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="p-3 border-top">
  <button mat-button mat-dialog-close class="cancel-button">Cancelar</button>
  <button mat-flat-button class="save-button"
    (click)="onSave()" 
    [disabled]="passwordForm.invalid">
        Cambiar Contraseña
  </button>
</mat-dialog-actions>